**Множественное присваивание в R**

Множественное присваивание предполагает присваивание нескольких значений нескольким переменным одновременно. Осуществляется с помощью оператора множественного присваивания *%<-%*. Также возможно использовать и такой вариант оператора как *%->%*. Зависит от того, в какой части находятся присваиваемые значения и переменные. "Стрелочка" указывает на имена переменных.

Для работы с оператором необходимо установить пакет **zeallot** и затем запустить его.

In [1]:
install.packages('zeallot', quiet = TRUE)

In [2]:
library(zeallot)

Имена переменных задаем в виде вектора. Присваиваемые значения могут быть вектором, списком или другим объектом R.

In [3]:
c(a, b) %<-% c(1, 2)
c(c, d) %<-% list(3, 4)
c(e, f) %<-% "as"
cat(a, b, c, d, e, f)

1 2 3 4 a s

Подобное поведение оператора множественного присваивания позволяет производить обмен значениями переменных, минуя создание третьей переменной, что упрощает код.

In [4]:
c(a, b) %<-% c(b, a)
cat(a, b)

2 1

Наиболее значимым применением оператора множественного присваивания является распаковка функций. Это означает, что если функция возвращает вектор или список, то каждый элемент этого вектора или списка можно сохранить в отдельную переменную. Например, посмотрим, сколько значений возвращает функция summary() для конкретной столбца датафрейма.

In [5]:
summary(mtcars$mpg)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  10.40   15.43   19.20   20.09   22.80   33.90

Видно, что всего получаем 6 возвращаемых значений. Это значит, что можно сохранить их в 6 переменных.

In [6]:
c(min_mpg, Qu1_mpg, med_mpg, mean_mpg, Qu3_mpg, max_mpg) %<-% summary(mtcars$mpg)

In [7]:
cat(min_mpg, Qu1_mpg, med_mpg, mean_mpg, Qu3_mpg, max_mpg)

10.4 15.425 19.2 20.09062 22.8 33.9

Еще один пример.

In [8]:
c(inter, slope) %<-% coef(lm(mpg ~ cyl, data = mtcars))
cat(inter, slope)

37.88458 -2.87579

Можно заметить, что множественное присваивание требует точного знания, сколько значений возвращает функция. Если количество переменных не будет совпадать с количеством возвращаемых значений, то R будет выводить ошибку. Это справедливо для оператора в целом, не только в части присваивания значений функций переменным.

Интересной особенностью оператора множественного присваивания является распаковка датафреймов.

In [9]:
c(mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb) %<-% mtcars
mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

То есть оператор позволяет разрезать датафрейм по столбцам и присвоить каждый столбец переменной.

Если датафреймы вложены в список, то оператор множественного присваивания каждый датафрейм присвоит конкретной переменной. Если объект содержит вложенные списки или вектора, то оператор их тоже распакует.

In [10]:
l1l2 <- list(mtcars, iris)

In [11]:
c(l1, l2)  %<-% l1l2

In [12]:
head(l1)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [13]:
head(l2)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

Посмотрим, как ведет себя оператор с вложеными списками и вложенными перменными.

In [14]:
c(a, c(b, c), d) %<-% list(12, list(c(13, 14), c(15, 16)), 17)

In [15]:
a; b; c; d

[1] 12

[1] 13 14

[1] 15 16

[1] 17

Если необходимо пропустить какое-либо значение, то использует **'.'**.

In [16]:
c(e, ., f, ., ., .) %<-% "asdfgh"
cat(e,f)

a d

Если необходимо сохранить, например, два первых значения в переменные, а оставшиеся значения в одну переменную, то используют **'...'**.

In [17]:
c(e, f, ...g) %<-% "asdfgh"
e; f; g

[1] "a"

[1] "s"

[1] "d" "f" "g" "h"

Можно комбинировать точку и многоточие.

In [18]:
c(e, ., f, ...) %<-% "asdfgh"
cat(e,f)

a d

В данном случае присваиваем первое и третье значения строки переменным a и d, а остальные значения пробрасываем.

[Более подробно изложено в документации пакета.](https://cran.r-project.org/web/packages/zeallot/zeallot.pdf)